.advantages {
  width: 280px;
  margin: 0 auto;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  background-color: #f2f2f2;
  width: 280px;
  height: 266px;
  margin-top: 20px;
}

.advantages__link {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.advantages__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 29px;
  text-transform: uppercase;
  padding-top: 30px;
}

.advantages__description {
  font-family: "Lato", sans-serif;
  line-height: 18px;
  color: #444444;
  margin: 0;
  font-weight: 400;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
  }

  .advantages__item {
    background-color: #f2f2f2;
    width: 708px;
    height: 372px;
    margin: 0;
    margin-bottom: 30px;
  }

  .advantages__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    padding-top: 77px;
    padding-left: 53px;
  }

  .advantages__description {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 340px;
    padding-left: 53px;
    padding-bottom: 52px;
    margin: 0;
  }

  .advantages__link {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 57px;
    padding-left: 52px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    background-color: #f2f2f2;
    width: 570px;
    height: 374px;
    margin: 0;
  }

  .advantages__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
    padding-top: 73px;
    padding-left: 214px;
  }

  .advantages__description {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding-top: 73px;
    padding-left: 52px;
    padding-bottom: 27px;
    min-width: 457px;
    margin: 0;
  }

  .advantages__link {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 55px;
    padding-left: 52px;
  }
}
