.advantages {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 20px;
}

.advantages__item {
  background-color: #f2f2f2;
  width: 280px;
  min-height: 266px;
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;
  position: relative;
}

.advantages__item--img1::after {
  content: "";
  background-image: url("../../img/advantages-cat1.png");
  position: absolute;
  background-repeat: no-repeat;
  height: 53px;
  width: 50px;
  top: 22px;
  left: 21px;
}

.advantages__item--img2::after {
  content: "";
  background-image: url("../../img/advantages-cat2.png");
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 67px;
  top: 24px;
  left: 13px;
}

.advantages__link {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.advantages__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 29px;
  text-transform: uppercase;
  padding-left: 79px;
}

.advantages__description {
  font-family: "Lato", sans-serif;
  line-height: 18px;
  color: #444444;
  margin: 0;
  font-weight: 400;
  margin-bottom: 42px;
}

@media (max-width: $mobile-width-only) {
  .advantages__item {
    position: relative;
  }

  .advantages__item::before {
    position: absolute;
    content: "";
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    top: 209px;
    left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
    padding-bottom: 15px;
  }


  .advantages__item {
    background-color: #f2f2f2;
    width: 708px;
    min-height: 372px;
    margin: 0;
    margin-bottom: 30px;
    padding: 77px 316px 53px 53px;
  }

  .advantages__item--img1::after {
    content: "";
    background-image: url("../../img/advantages-table-cat1.png");
    position: absolute;
    background-repeat: no-repeat;
    height: 211px;
    width: 200px;
    top: 81px;
    left: 446px;
  }

  .advantages__item--img2::after {
    content: "";
    background-image: url("../../img/advantages-table-cat2.png");
    position: absolute;
    background-repeat: no-repeat;
    height: 200px;
    width: 265px;
    top: 91px;
    left: 412px;
  }

  .advantages__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .advantages__description {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 340px;
    padding-bottom: 52px;
    margin: 0;
  }

  .advantages__link {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    padding-bottom: 69px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    background-color: #f2f2f2;
    width: 570px;
    min-height: 374px;
    margin: 0;
    padding: 77px 61px 55px 52px;
  }

  .advantages__item--img1::after {
    content: "";
    background-image: url("../../img/advantages-desk-cat1.png");
    position: absolute;
    background-repeat: no-repeat;
    height: 106px;
    width: 100px;
    top: 41px;
    left: 52px;
  }

  .advantages__item--img2::after {
    content: "";
    background-image: url("../../img/advantages-desk-cat2.png");
    position: absolute;
    background-repeat: no-repeat;
    height: 100px;
    width: 134px;
    top: 42px;
    left: 33px;
  }

  .advantages__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
    padding-left: 162px;
    margin-bottom: 73px;
  }

  .advantages__description {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding-bottom: 27px;
    min-width: 457px;
    margin: 0;
  }

  .advantages__link {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
