.page__body {
  font-family: "Oswald", sans-serif;
  line-height: 18px;
  background-color: #ffffff;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  min-width: 320px;
}
