.button-form {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 7px 10px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  width: 280px;
  margin-bottom: 21px;
}


@media (min-width: $tablet-width) {
  .button-form {
    font-size: 20px;
    line-height: 20px;
    padding: 13px 45px;
    margin: 0;
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .button-form {
    font-size: 20px;
    line-height: 20px;
    padding: 13px 188px;
    width: 568px;
  }
}
