.button-card {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 10px 10px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }

  &--gray {
    background-color: #f2f2f2;
    color: #444444;
  }

  &--gray:hover {
    background-color: #ebebeb;
  }

  &--gray:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button-card {
    padding: 10px 10px;
  }
}

@media (min-width: $desktop-width) {
  .button-card {
    padding: 10px 10px;
  }
}
