.card-next {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 158px;
}

.card-next__tittle-next {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  padding-top: 53px;
  padding-bottom: 8px;
}

.card-next__description-next {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .card-next {
    width: 324px;
    min-height: 429px;
    display: grid;
    grid-template-columns: 36px 252px 36px;
    grid-template-rows: 161px min-content auto min-content 39px;
    background: none;
    border: 2px solid #f2f2f2;
    padding: 0;
    margin-top: 82px;
  }

  .card-next__tittle-next {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #111111;
    text-transform: uppercase;
    width: 134px;
    text-align: center;
  }

  .card-next__link {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
  }

  .card-next__description-next {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #444444;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 165px;
    text-align: center;
    align-self: flex-start;
    margin: 0 auto;
    padding-top: 23px;
  }

  .card-next__link-all {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

@media (min-width: $desktop-width) {
  .card-next {
    width: 245px;
    grid-template-columns: 38px 169px 38px;
    grid-template-rows: 160px min-content auto min-content 39px;
  }
}
