.catalog-container__losung {
  margin: 0 auto;
  width: 280px;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 41px;
  font-weight: 400;
  padding-top: 27px;
}

.catalog-card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-card__column {
  margin: 0;
}

.catalog-card__link-img {
  grid-row: 1/3;
  margin: auto auto;
}

.catalog-card__iner-wrap {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 64px 64px 40px;
  padding-top: 8px;
  padding-bottom: 11px;
  width: 280px;
  margin: 0 auto;
  min-height: 190px;
}

.catalog-card__row {
  display: flex;
  justify-content: space-between;
}

.catalog-card__link-title {
  text-decoration: none;
}

.catalog-card__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  width: 76px;
  margin: 0;
  padding-top: 11px;
}

.catalog-card__text {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 2px;
  color: #222222;
}

.catalog-card__description {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 2px;
  color: #222222;
}

.catalog-card__link-product {
  text-transform: uppercase;
  margin: auto auto;
  grid-column: 1/-1;
}

@media (max-width: $mobile-width-only) {
  .catalog-card__item {
    border-bottom: 1px solid #ebebeb;
  }

  .catalog-card__item:nth-child(1) {
    border-top: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .catalog-container__losung {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 82px;
    padding-top: 65px;
    width: 708px;
  }

  .catalog-card__list {
    width: 708px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }

  .catalog-card__iner-wrap {
    width: 324px;
    min-height: 511px;
    grid-template-columns: 36px 252px 36px;
    grid-template-rows: 242px min-content auto min-content 39px;
    background: linear-gradient(#ffffff 0, #ffffff 15.8%, #f2f2f2 15.8%, #f2f2f2 100%);
    padding: 0;
  }

  .catalog-card__size-small {
    width: 161px;
    height: 172px;
  }

  .catalog-card__size-big {
    width: 168px;
    height: 200px;
  }

  .catalog-card__link-img {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .catalog-card__title {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    text-align: center;
  }

  .catalog-card__link-title {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
  }

  .catalog-card__column {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-top: 22px;
  }

  .catalog-card__link-product {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .catalog-card__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 7px;
  }

  .catalog-card__row:nth-child(2) {
    padding-top: 5px;
    padding-bottom: 7px;
  }


  .catalog-card__description {
    font-size: 16px;
    line-height: 16px;
    padding: 0;
  }

  .catalog-card__text {
    font-size: 16px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-container__losung {
    margin-bottom: 84px;
    padding-top: 78px;
    width: 1220px;
  }

  .catalog-card__list {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 64px;
  }

  .catalog-card__iner-wrap {
    width: 245px;
    min-height: 511px;
    grid-template-columns: 30px 180px 35px;
    grid-template-rows: 242px min-content auto min-content 40px;
    background-color: #f2f2f2;
  }

  .catalog-card__title {
    line-height: 21px;
    width: 145px;
    text-align: center;
  }

  .catalog-card__size-small {
    width: 161px;
    height: 172px;
  }

  .catalog-card__size-big {
    width: 172px;
    height: 198px;
  }
}
