.complate__tittle {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  font-weight: 400;
  display: inline-block;
  background-color: #ffffff;
  padding: 25px 20px 36px;
  margin-left: -20px;
}

.comlatate {
  padding-top: 50px;
}

.complate__wrapp {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.complate__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.complate__name {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
  grid-column: 1/-1;
}

.complate__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
}

.complate__price {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  justify-self: end;
}

.complate__item {
  display: grid;
  grid-template-columns: 140px 140px;
  padding-top: 13px;
  padding-bottom: 19px;
  min-height: 98px;
  border-bottom: 1px solid #cdcdcd;


  &:nth-child(1) {
    border-top: 1px solid #cdcdcd;
  }
}

.complate__link {
  margin-top: 15px;
  grid-column: 1/-1;
}

.complate__order {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/image2.jpg");
  background-repeat: no-repeat;
  background-size: 279px 289px;
  width: 279px;
  min-height: 289px;
  margin-top: 35px;
  position: relative;

  @media (min-resolution: 1.5dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/image2@2x.jpg");
  }

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 59px;
    left: 101px;
    background-image: url("../../img/icon_gift1.png");
    z-index: 1;
  }
}

.complate__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding-top: 186px;
  max-width: 161px;
  margin-left: 58px;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .complate__tittle {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    font-weight: 400;
    padding: 68px 36px 80px;
  }


  .complate__wrapp {
    width: 708px;
    padding-bottom: 76px;
  }

  .complate__name {
    font-size: 20px;
    line-height: 20px;
    color: #222222;
    font-weight: 400;
    margin: 0;
    grid-column: 1/2;
  }

  .complate__description {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    font-weight: 400;
    margin: 0;
    grid-column: 2/3;
    margin-left: auto;
  }

  .complate__price {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    justify-self: end;
    grid-column: 3/-1;
  }

  .complate__list {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  .complate__item {
    display: grid;
    grid-template-columns: 352px 140px 140px;
    padding-top: 13px;
    padding-bottom: 19px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .complate__link {
    margin-top: 25px;
    grid-column: 1/-1;
  }

  .complate__order {
    margin: 0;
    background-size: 707px 200px;
    width: 707px;
    min-height: 200px;
    margin-top: 69px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/imagetable2.png");

    @media (min-resolution: 1.5dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/imagetable2@2x.png");
    }
  }

  .complate__text {
    margin: 0;
    padding: 0;
    padding-left: 422px;
    padding-top: 71px;
    text-align: left;
    max-width: 600px;
  }
}

@media (min-width: $desktop-width) {
  .complate {
    margin-bottom: 86px;
  }

  .complate__wrapp {
    width: 1220px;
    display: grid;
    grid-template-columns: 896px 246px;
    column-gap: 80px;
  }

  .complate__list {
    width: 896px;
    min-height: 288px;
    grid-column: 1/2;
    border: none;
  }

  .complate__tittle {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    font-weight: 400;
    padding: 76px 36px 81px 40px;
    margin-left: -40px;
  }

  .complate__item {
    display: grid;
    grid-template-columns: 372px 140px 140px 244px;
    padding: 0;
    min-height: 40px;
    padding-top: 15px;
    padding-bottom: 17px;
    align-items: center;
  }

  .complate__name {
    grid-column: 1/2;
  }

  .complate__description {
    grid-column: 2/3;
    margin: 0;
  }

  .complate__price {
    grid-column: 3/4;
    justify-self: center;
  }

  .complate__link {
    margin-top: 0;
    grid-column: 4/-1;
  }

  .complate__order {
    background-size: 245px 289px;
    width: 245px;
    min-height: 288px;
    margin: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/imagedesk2.png");
    grid-column: 2/3;

    @media (min-resolution: 1.5dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/imagedesk2@2x.png");
    }

    &::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 82px;
      top: 56px;
      left: 83px;
      background-image: url("../img/icon_gift1.png");
      z-index: 1;
    }
  }

  .complate__text {
    padding: 0;
    padding-top: 184px;
    margin-left: 40px;
    text-align: center;
    max-width: 161px;
  }
}
