.complate__tittle {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 49px;
  font-weight: 400;
}

.complate__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.complate__name {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
  grid-column: 1/-1;
}

.complate__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
}

.comlate__price {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  justify-self: end;
}

.complate__item {
  display: grid;
  grid-template-columns: 140px 140px;
  padding-top: 13px;
  padding-bottom: 19px;
}

.complate__link {
  margin-top: 15px;
  grid-column: 1/-1;
}

.comlatate__order {
  background-image: url("../img/image2.jpg");
  background-repeat: no-repeat;
  background-size: 279px 289px;
  width: 279px;
  height: 289px;
  margin-top: 35px;
}

.complate__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding-top: 186px;
}

@media (min-width: $tablet-width) {
  .complate__tittle {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-top: 68px;
    margin-bottom: 80px;
    font-weight: 400;
  }

  .complate__name {
    font-size: 20px;
    line-height: 20px;
    color: #222222;
    font-weight: 400;
    margin: 0;
    grid-column: 1/2;
  }

  .complate__description {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    font-weight: 400;
    margin: 0;
    grid-column: 2/3;
  }

  .comlate__price {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    justify-self: end;
    grid-column: 3/-1;
  }

  .complate__item {
    display: grid;
    grid-template-columns: 352px 140px 140px;
    padding-top: 13px;
    padding-bottom: 19px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .complate__link {
    margin-top: 25px;
    grid-column: 1/-1;
  }

  .comlatate__order {
    background-size: 707px 200px;
    width: 707px;
    height: 200px;
    margin-top: 69px;
  }

  .complate__text {
    padding-top: 71px;
    padding-left: 422px;
  }
}

@media (min-width: $desktop-width) {
  .complate {
    display: grid;
    grid-template-columns: 896px 246px;
    column-gap: 80px;
  }

  .complate__list {
    width: 896px;
    min-height: 288px;
  }

  .complate__tittle {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 81px;
    font-weight: 400;
    grid-column: 1/-1;
  }

  .complate__item {
    display: grid;
    grid-template-columns: 372px 140px 140px 244px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .complate__name {
    grid-column: 1/2;
  }

  .complate__description {
    grid-column: 2/3;
  }

  .comlate__price {
    grid-column: 3/4;
    justify-self: center;
  }

  .complate__link {
    margin-top: 0;
    grid-column: 4/-1;
  }

  .comlatate__order {
    background-size: 245px 288px;
    width: 245px;
    height: 288px;
    margin: 0;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .complate__text {
    padding: 0;
    padding-top: 184px;
  }
}
