.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    width: 168px;
  }

  .copyright {
    margin: 0;
  }
}
