.example__losung {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  padding-top: 25px;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
}

.example__item {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  min-height: 56px;
  padding-top: 15px;
}

.example__desc {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  text-align: center;
  max-width: 77px;
  position: absolute;
  bottom: -13px;
  background-color: #eaeaea;
}

.example__description {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 20px;
}

.example__box {
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example__losung {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    font-weight: 400;
    padding-top: 43px;
  }

  .example__text {
    font-family: "Lato", sans-serif;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 54px;
  }

  .example__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 162px 162px;
    column-gap: 42px;
  }

  .example__item {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }

  .example__desc {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #444444;
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    min-width: 114px;
    max-width: 142px;
    bottom: -5px;
  }

  .example__description {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    width: 174px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .example__flex {
    display: flex;
    justify-content: space-between;
  }

  .example__box {
    min-height: 72px;
  }
}

@media (min-width: $desktop-width) {
  .example__losung {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    margin-bottom: 146px;
  }

  .example__container {
    margin: 0;
    width: 436px;
  }

  .example {
    margin: 0;
  }

  .example__text {
    font-family: "Lato", sans-serif;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 69px;
  }

  .example__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 162px 162px;
    column-gap: 42px;
  }

  .example__item {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin: 0;
  }

  .example__desc {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #444444;
    margin: 0;
    text-align: center;
  }

  .example__description {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 55px;
    width: 327px;
    flex-direction: row;
  }

  .example__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .example__description-price {
    margin-left: 63px;
  }
}
