.form__personal {
  border: none;
  margin: 0;
  padding: 0;
}

.form__personal-list {
  margin: 0 auto;
  width: 280px;
  padding: 0;
  list-style-type: none;
  margin-bottom: 24px;
}

.form__personal-item {
  margin-bottom: 14px;
}

.form__personal-name {
  display: flex;
}

.form__personal-text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  align-self: center;
}

.form__personal-input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  flex-grow: 2;
  border: 1px solid #e7e7e7;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 13px;
  margin-left: 13px;
}

.form__select {
  border: none;
  margin: 0;
  padding: 0;
}

.form__line-contact {
  margin-bottom: 35px;
}

.form__select-list {
  margin: 0 auto;
  width: 280px;
  padding: 0;
  list-style-type: none;
  margin-top: 22px;
  margin-bottom: 19px;
}

.form__select-item {
  margin-bottom: 13px;
  min-height: 30px;

  &:nth-child(3) {
    margin-bottom: 0;
  }
}

.form__select-name {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.form__contact {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 26px;
}

.form__contact-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  width: 221px;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 14px 0 20px;
  margin-left: -20px;
}

.form__contact-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 280px;
}

.form__contact-name {
  display: flex;
}

.form__contact-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  align-self: center;
}

.form__contact-input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  flex-grow: 2;
  padding-left: 15px;
  padding-bottom: 14px;
  padding-top: 14px;
  margin-left: 10px;
  border: 1px solid #e7e7e7;
  padding-right: 40px;

  &--mail {
    background-image: url("../img/email-icon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 17px) center;
    background-size: 17px 13px;
  }

  &--phone {
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 17px) center;
    background-size: 15px 15px;
  }
}

.form__contact-item {
  &:nth-child(1) {
    margin-bottom: 14px;
  }
}

.form__comment {
  padding-top: 24px;
}

.form__line-comment {
  margin-bottom: 38px;
}


.form__comment-title {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  display: inline-block;
  background-color: #ffffff;
  width: 163px;
  padding: 0 22px 0 20px;
  margin-left: -20px;
}

.form__comment-wrap {
  width: 280px;
  margin: 0 auto;
}


.form__comment-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  height: 150px;
  border: 1px solid #e7e7e7;
  resize: none;

  &::placeholder {
    color: #444444;
  }
}

.form__additional {
  margin: 0;
  padding: 0;
  border: none;
  padding-top: 23px;
}

.form__line-additional {
  margin-bottom: 34px;
}

.form__additional-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  display: inline-block;
  background-color: #ffffff;
  width: 184px;
  padding: 0 23px 0 20px;
  margin-left: -20px;
}

.form__additional-list {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  list-style-type: none;
}

.form__additional-item {
  min-height: 30px;
  margin-bottom: 13px;

  &:nth-child(4) {
    margin-bottom: 34px;
  }
}

.form__additional-name {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__additional-wrapp {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 32px;
}

.form__smaal {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto;
  margin-left: 64px;
}

.form__additional-control {
  display: block;
  position: relative;
  padding-left: 46px;
}

.form__additional-mark {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  position: absolute;
  left: 0;
  top: -5px;
}

.form__additional-control:hover .form__additional-mark {
  border-color: #bababa;
}

.form__additional-input:disabled + .form__additional-mark {
  border-color: #bababa;
}

.form__additional-input [type="checkbox"]:checked + .form__additional-mark,
.form__additional-input[type="checkbox"]:checked + .form__additional-mark {
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: 5px 9px;
}

.form__select-control {
  position: relative;
  display: block;
  padding-left: 45px;
}

.form__select-mark {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  position: absolute;
  left: 0;
  border-radius: 50%;
  top: -4px;
}

.form__select-control:hover .form__select-mark {
  border-color: #bababa;
}

.form__select-input:disabled + .form__select-mark {
  border-color: #bababa;
}

.form__select-input[type="radio"]:checked + .form__select-mark::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

@media (max-width: $mobile-width-only) {
  .form__personal {
    border-bottom: 1px solid #e7e7e7;
  }

  .form__select {
    border-bottom: 1px solid #e7e7e7;
  }
}

@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 72px;
  }

  .form__personal-list {
    width: 630px;
    margin: 0 auto;
  }

  .form__personal-item {
    margin-bottom: 20px;

    &:nth-child(3) {
      margin-bottom: 72px;
    }
  }


  .form__personal-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__personal-input {
    font-size: 20px;
    line-height: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .form__select-list {
    margin: 0 auto;
    padding-left: 28px;
    padding-top: 30px;
    padding-bottom: 25px;
    width: 628px;
    height: 200px;
    border: 1px solid #e7e7e7;
  }

  .form__select-item {
    min-height: 40px;
  }

  .form__select-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__contact {
    padding-top: 71px;
  }

  .form__line-contact {
    margin-bottom: 76px;
  }


  .form__contact-title {
    font-size: 36px;
    line-height: 36px;
    min-width: 595px;
    padding: 0;
    padding-left: 39px;
    padding-right: 42px;
    margin: 0;
  }

  .form__contact-list {
    margin: 0 auto;

    width: 630px;
  }

  .form__contact-input {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 40px 11px 20px;
  }

  .form__contact-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__comment-wrap {
    width: 630px;
    margin: 0 auto;
  }

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
    min-width: 262px;
    padding: 0 40px;
    margin: 0;
  }

  .form__comment-text {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    padding-left: 19px;
    height: 174px;
  }

  .form__additional {
    padding-top: 65px;
  }

  .form__additional-title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    width: 301px;
    padding: 0 40px;
  }

  .form__additional-list {
    width: 630px;
    display: grid;
    grid-template-columns: 349px 261px;
    list-style-type: none;
    row-gap: 32px;
    margin: 0 auto;
    margin-bottom: 54px;
  }

  .form__line-additional {
    margin-bottom: 57px;
  }

  .form__additional-item {
    min-height: 40px;
    margin: 0;

    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  .form__additional-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__additional-wrapp {
    width: 630px;
    margin: 0 auto;
    padding: 0;
  }

  .form__smaal {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    margin-left: 64px;
  }

  .form__additional-control {
    padding-left: 62px;
  }

  .form__additional-mark {
    width: 40px;
    height: 40px;
  }

  .form__additional-input [type="checkbox"]:checked + .form__additional-mark,
  .form__additional-input[type="checkbox"]:checked + .form__additional-mark {
    background-size: 24px 19px;
    background-position: 7px 10px;
  }

  .form__select-control {
    padding-left: 88px;
  }

  .form__select-mark {
    width: 40px;
    height: 40px;
    top: -4px;
  }

  .form__select-input[type="radio"]:checked + .form__select-mark::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }
}


@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 82px;
  }

  .form__personal-list {
    width: 569px;
    margin: 0;
  }

  .form__personal-item {
    margin-bottom: 20px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  .form__personal-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__personal-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__select-list {
    margin: 0;
    width: 568px;
    height: 200px;
  }

  .form__select-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__flex {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .form__contact {
    padding-top: 69px;
  }


  .form__contact-title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 40px;
    margin-left: -40px;
  }

  .form__contact-list {
    display: grid;
    grid-template-columns: 610px 610px;
    width: 1220px;
    margin: 0 auto;
  }

  .form__contact-item {
    &:nth-child(2) {
      margin-left: auto;
    }
  }


  .form__contact-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__contact-name {
    font-size: 20px;
    line-height: 30px;
    width: 571px;
  }

  .form__comment-wrap {
    width: 1220px;
    margin: 0 auto;
  }

  .form__line-comment {
    margin-bottom: 76px;
  }

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-left: -40px;
  }

  .form__comment-text {
    font-size: 20px;
    line-height: 30px;
  }

  .form__additional {
    padding-top: 67px;
  }


  .form__additional-title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-left: -40px;
  }

  .form__additional-list {
    width: 1220px;
    grid-template-columns: repeat(4, 300px);
    margin-bottom: 61px;
  }

  .form__additional-item {
    margin: 0;
    min-width: 200px;
  }

  .form__additional-wrapp {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .form__additional-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__smaal {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    margin-left: 84px;
  }

  .form__additional-control {
    padding-left: 60px;
  }
}
