.main-form {
  border: 3px solid green;
}

.selection__losung {
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
  font-weight: 400;
}

.selection__description {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 39px;
  text-transform: uppercase;
}

.form__personal {
  border: none;
  margin: 0;
  padding: 0;
}

.form__personal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 24px;
}

.form__personal-item {
  margin-bottom: 14px;
}

.form__personal-name {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__personal-input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__select {
  border: none;
  margin: 0;
  padding: 0;
}

.form__select-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 22px;
  margin-bottom: 45px;
}

.form__select-name {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.form__contact {
  border: none;
  margin: 0;
  padding: 0;
}

.form__contact-title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
}

.form__contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 24px;
}

.form__contact-name {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__contact-input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__contact-item {
  margin-bottom: 14px;
}

.form__comment-title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 38px;
}

.form__comment-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 23px;
}

.form__p {
  margin: 0;
}

.form__additional {
  margin: 0;
  padding: 0;
  border: none;
}

.form__additional-title {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;
}

.form__additional-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.form__additional-item {
  margin-bottom: 13px;
}

.form__additional-name {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__smaal {
  margin-top: 21px;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .main-form {
    width: 708px;
  }

  .form {
    margin-bottom: 72px;
  }

  .selection__losung {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 54px;
  }

  .selection__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    text-transform: uppercase;
  }

  .form__personal-list {
    width: 630px;
    border: 3px solid yellow;
    margin: 0;
  }

  .form__personal-item {
    margin-bottom: 20px;
  }

  .form__personal-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__personal-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__select-list {
    margin-top: 72px;
    margin-bottom: 71px;
    border: 3px solid gold;
    width: 628px;
    height: 200px;
  }

  .form__select-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__contact-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .form__contact-list {
    margin-bottom: 65px;
  }

  .form__contact-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__contact-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__comment-text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 76px;
    margin-bottom: 65px;
  }

  .form__additional-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }

  .form__additional-list {
    border: 3px solid plum;
    width: 533px;
    display: grid;
    grid-template-columns: 267px 267px;
    list-style-type: none;
    row-gap: 32px;
    margin-bottom: 54px;
  }

  .form__additional-item {
    margin: 0;
  }

  .form__additional-name {
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__smaal {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    margin-left: 64px;
  }
}

@media (min-width: $desktop-width) {
  .main-form {
    width: 1220px;
  }

  .form {
    margin-bottom: 82px;
  }

  .selection__losung {
    font-size: 60px;
    line-height: 60px;
    margin-top: 77px;
    margin-bottom: 56px;
  }

  .selection__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    text-transform: uppercase;
  }

  .form__personal-list {
    width: 569px;
    border: 3px solid yellow;
    margin: 0;
  }

  .form__personal-item {
    margin-bottom: 20px;
  }

  .form__personal-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__personal-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__select-list {
    margin: 0;
    width: 568px;
    height: 200px;
  }

  .form__select-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  .form__contact-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .form__contact-list {
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
  }

  .form__contact-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__contact-name {
    font-size: 20px;
    line-height: 30px;
  }

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__comment-text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 76px;
    margin-bottom: 67px;
  }

  .form__additional-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }

  .form__additional-list {
    border: 3px solid plum;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 61px;
  }

  .form__additional-item {
    margin: 0;
  }

  .form__additional-name {
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__smaal {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    margin-left: 84px;
  }
}
