.main-header {
  display: flex;
  flex-direction: column;
  min-height: 65px;
}

.main-header__logo {
  width: 280px;
  height: 65px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.main-header__logo-img {
  width: 34px;
  height: 38px;
}

.main-header__logo-paint {
  width: 110px;
  height: 18px;
  margin-left: 51px;
}

@media (max-width: $mobile-width-only) {
  .main-header {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    padding: 0 0 48px;
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
    margin: 0 auto;
    align-items: center;
    border: none;
    padding-top: 18px;
  }

  .main-header__logo {
    width: 174px;
    height: 52px;
    padding-left: 0;
    margin: 0;

    &:hover {
      opacity: 80%;
    }

    &:active {
      opacity: 60%;
    }
  }


  .main-header__logo-img {
    width: 60px;
    height: 52px;
    display: none;
  }

  .main-header__logo-paint {
    width: 174px;
    height: 52px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 53px 0 29px;
    width: 1220px;
    min-height: 141px;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }

  .main-header__logo-img {
    display: none;
  }

  .main-header__logo-paint {
    width: 132px;
    height: 59px;
    margin-left: 14px;
  }
}
