.index-footer {
  background-color: #f2f2f2;
}

.index-footer__container {
  width: 280px;
  margin: 0 auto;
}

.index-footer__logo {
  margin: 0 auto;
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
}


@media (max-width: $mobile-width-only) {
  .index-footer__container {
    position: relative;
  }

  .index-footer__social::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    top: 95px;
    left: 0;
    box-shadow: 0 63px 0 0 #e9e9e9;
  }
}

@media (min-width: $tablet-width) {
  .index-footer__container {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 55px;
  }

  .index-footer__logo {
    padding: 0;
    padding-left: 29px;
  }
}

@media (min-width: $desktop-width) {
  .index-footer__container {
    width: 1220px;
    padding-top: 57px;
    padding-bottom: 58px;
  }
}
