.index-footer {
  background-color: #f2f2f2;
}

.index-footer__container {
  width: 280px;
  margin: 0 auto;
}

.copyright__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.social-networks {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 132px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 21px;
}


.index-footer__logo {
  margin: 0 auto;
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
}

.copyright {
  margin-top: 20px;
}

@media (max-width: $mobile-width-only) {
  .index-footer__container {
    position: relative;
  }

  .index-footer__social::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    top: 95px;
    left: 0;
    box-shadow: 0 63px 0 0 #e9e9e9;

  }

}

@media (min-width: $tablet-width) {
  .index-footer__container {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 55px;
  }

  .social-networks {
    padding: 0;
  }

  .index-footer__logo {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .index-footer__container {
    width: 1220px;
    padding-top: 57px;
    padding-bottom: 58px;
  }
}
