.invitation {
  background-color: #ffffff;
  width: 280px;
  margin: 0 auto;
  height: 112px;
  display: flex;
  align-items: center;
}

.invitation--color {
  background-color: #f2f2f2;
}

.invation__losung {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  margin: 0;
}

.invitation__adress {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .invitation {
    width: 708px;
    height: 199px;
    display: flex;
    justify-content: space-between;
  }

  .invation__losung {
    font-size: 20px;
    line-height: 26px;
    margin-top: 60px;
    margin-bottom: 55px;
    width: 172px;
  }

  .invitation__adress {
    line-height: 20px;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 55px;
    width: 160px;
  }
}

@media (min-width: $desktop-width) {
  .invitation {
    width: 565px;
    height: 198px;
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 110px;
  }

  .invitation--color {
    background-color: #ffffff;
  }

  .map-wrapp {
    position: relative;
  }
}
