.invitation {
  background-color: #ffffff;
  width: 280px;
  margin: 0 auto;
  min-height: 112px;
  display: flex;
  align-items: center;
  padding: 26px 0 27px;

  &--color {
    background-color: #f2f2f2;
  }
}

.invitation__losung {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  margin: 0;
  min-width: 140px;
  text-transform: uppercase;
}

.invitation__adress {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
  min-width: 140px;
}

@media (min-width: $tablet-width) {
  .invitation {
    width: 708px;
    min-height: 199px;
    display: flex;
    justify-content: space-between;
    padding: 59px 40px 56px;
  }

  .invitation__losung {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
    min-height: 84px;
    text-align: left;
  }

  .invitation__margin {
    margin-top: 15px;
    display: block;
  }

  .invitation__adress {
    line-height: 20px;
    font-size: 16px;
    width: 160px;
    min-height: 80px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .invitation {
    width: 565px;
    min-height: 198px;
    position: absolute;
    z-index: 1;
    top: 95px;
    left: calc(50% - 610px);
    padding: 56px 80px;

    &--color {
      background-color: #ffffff;
      padding-bottom: 42px;
    }
  }

  .invitation__adress {
    text-align: left;
    padding-left: 3px;

    &--align {
      width: 159px;
    }
  }

  .invitation__margin {
    &--align {
      width: 126px;
      margin: 0;
    }
  }
}
