.line__container {
  width: 280px;
  margin: 0 auto;
}

.line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
}

@media (max-width: $mobile-width-only) {
  .line {
    &--contact {
      position: relative;
    }

    &--contact::before {
      content: "";
      position: absolute;
      top: 25%;
      height: 2px;
      width: 100%;
      background-color: #68b738;
      z-index: -1;
    }
  }
}


@media (min-width: $tablet-width) {
  .line__container {
    width: 709px;
  }
}

@media (min-width: $desktop-width) {
  .line__container {
    width: 1220px;
  }
}
