.main-footer__map-wrapp {
  background-color: #ffffff;

  &--color {
    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__map-wrapp {
    position: relative;
  }
}
