.main-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 302px;
  top: 65px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-desktop2.jpg");
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
  background-position: top center;
}

@media (min-width: $tablet-width) {
  .main-container::before {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .main-container::before {
    position: absolute;
    content: "";
    width: 720px;
    height: 694px;
    top: 0;
    left: 50%;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/index-background-desktop1.jpg");
    background-repeat: no-repeat;
    background-size: top left;
  }
}
