.main-intro {
  border: 3px solid blue;
}

.main-intro__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 27px;
  margin-bottom: 25px;
}

.main-intro__text {
  line-height: 14px;
  margin-bottom: 29px;
  color: #ffffff;
  text-transform: uppercase;
}

.main-intro__img {
  margin-bottom: 3px;
}

.main-intro__link {
  margin-bottom: 50px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-intro {
    position: relative;
    min-width: 709px;
    height: 872px;
    border: 3px solid blue;
    background-color: #ffffff;
  }

  .main-intro__link {
    margin-left: 146px;
    margin-top: 43px;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
  }

  .main-intro__img {
    width: 709px;
    height: 609px;
    position: absolute;
    z-index: 0;
  }

  .main-intro__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-top: 62px;
    margin-bottom: 41px;
    margin-left: 117px;
  }

  .main-intro__text {
    line-height: 20px;
    margin-bottom: 20px;
    color: #000000;
    text-transform: uppercase;
    margin-left: 119px;
  }
}

@media (min-width: $desktop-width) {
  .main-intro {
    min-width: 1220px;
    position: relative;
    height: 613px;
  }

  .main-intro__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-top: 114px;
    margin-bottom: 40px;
    margin-left: 190px;
  }

  .main-intro__text {
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    margin-left: 190px;
    margin-bottom: 66px;
  }

  .main-intro__link {
    margin: 0;
    margin-left: 216px;
    text-transform: uppercase;
  }

  .main-intro__img {
    width: 552px;
    height: 499px;
    position: absolute;
    bottom: 54px;
    left: 558px;
  }
}
