
.main-intro__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 27px;
  margin-bottom: 25px;
}

.main-intro__text {
  line-height: 14px;
  margin-bottom: 29px;
  color: #ffffff;
  text-transform: uppercase;
}

.main-intro__img {
  margin-bottom: 3px;
}

.main-intro__link {
  margin-bottom: 50px;
  display: block;
  text-transform: uppercase;
}
