.main-nav {
  position: relative;
  width: auto;
  background-color: #ffffff;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 280px;
}

.main-nav__toggle {
  padding: 0;
  width: 65px;
  height: 65px;
  position: absolute;
  background: transparent;
  top: -65px;
  left: calc(50% + 95px);
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 50%;
  width: 24px;
  transform: translate(-50%);
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 7.5px 0 0 #000000, 0 15px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  height: 1.5px;
  width: 24px;
  background-color: #000000;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translate(-50%) rotate(-45deg);
  height: 1.5px;
  width: 24px;
  background-color: #000000;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--opened .site-list {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 440px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    min-width: 440px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 490px;
    background-color: transparent;
  }
}
