.form__select-control {
  position: relative;
  display: block;
  padding-left: 45px;
}

.form__select-mark {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  position: absolute;
  left: 0;
  border-radius: 50%;
  top: -4px;
}

.form__select-control:hover .form__select-mark {
  border-color: #bababa;
}

.form__select-input:disabled + .form__select-mark {
  border-color: #bababa;
}

.form__select-input[type="radio"]:checked + .form__select-mark::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

@media (min-width: $tablet-width) {
  .form__select-control {
    padding-left: 88px;
  }

  .form__select-mark {
    width: 40px;
    height: 40px;
    top: -4px;
  }

  .form__select-input[type="radio"]:checked + .form__select-mark::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }
}
