.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 23px 0 23px;
  text-transform: uppercase;
}

.site-list__link {
  text-decoration: none;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    padding: 0;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    padding-bottom: 8px;
  }
}
