.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  min-height: 65px;
  text-transform: uppercase;
}

.site-list__link {
  text-decoration: none;
  color: #000000;
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
}

@media (max-width: $mobile-width-only) {
  .site-list__item {
    border-bottom: 1px solid #e6e6e6;
  }

  .site-list__item:nth-child(1) {
    border-top: 1px solid #e6e6e6;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 31px;
  }

  .site-list__item {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    min-height: 0;
    position: relative;
  }

  .site-list__link {
    padding: 10px 0;

    &:hover {
      opacity: 60%;
    }

    &:focus {
      opacity: 30%;
    }

    &:active {
      opacity: 100%;
    }

    &--active::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      bottom: 0;
      left: 0;
    }

    &--active-wite::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      bottom: 0;
      left: 0;
    }
  }
}


@media (min-width: $desktop-width) {
  .site-list {
    width: 490px;
  }

  .site-list__item {
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .site-list__link {
    &--active-wite::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      bottom: 0;
      left: 0;
    }

    &--iner {
      color: #ffffff;
    }
  }
}
