.widget__range-container {
  position: relative;
  display: flex;
  height: 256px;
  width: 280px;
  margin: 0 auto;
}

.widget__button {
  display: grid;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;

  &::before {
    content: "";
    grid-column: 1/-1;
    grid-row: 1/-1;
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #666666;
    border-radius: 20px;
    z-index: 2;
    box-sizing: border-box;
  }

  &:hover::before {
    border: 2px solid #68b738;
  }

  &:focus::before,
  &:active::before {
    border: 2px solid #5eaa2f;
  }

  &::after {
    content: "";
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: center;
    background-color: #666666;
    width: 4px;
    height: 100%;
    border-radius: 2px;
    z-index: 1;
  }

  &:hover::after {
    background-color: #68b738;
  }

  &:focus::after,
  &:active::after {
    background-color: #5eaa2f;
  }
}

.widget__arrows {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin: auto;
  fill: #666666;
  z-index: 2;

  .widget__button:hover & {
    fill: #68b738;
  }

  .widget__button:focus &,
  .widget__button:active & {
    fill: #5eaa2f;
  }
}

.widget__image {
  height: 100%;
  max-width: 100%;
  object-fit: cover;

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }
}

@media (min-width: $tablet-width) {
  .widget__range-container {
    height: 512px;
    width: 560px;
  }

  .widget__images {
    width: 560px;
    height: 512px;
  }
}
