.work {
  width: 280px;
  margin: 0 auto;
}

.work__losung {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 42px;
}

.work__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  // padding-bottom: 59px;
  padding-bottom: 53px;
}

.work__item {
  font-family: "Lato", sans-serif;
  line-height: 18px;
  color: #444444;
  // margin-bottom: 22px;
  margin-bottom: 26px;
  padding-left: 80px;
  position: relative;

  &:nth-child(4) {
    margin-bottom: 0;
  }

  &--pic1::after {
    content: "";
    background-image: url("/../img/work-pic1.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 25px;
    width: 28px;
    top: 16px;
    left: 19px;
  }

  &--pic1::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #68b738;
    top: 0;
    left: 0;
  }


  &--pic2::after {
    content: "";
    background-image: url("/../img/work-pic2.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
    top: 16px;
    left: 19px;
  }

  &--pic2::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #68b738;
    top: 0;
    left: 0;
  }

  &--pic3::after {
    content: "";
    background-image: url("/../img/work-pic3.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 30px;
    width: 25px;
    top: 16px;
    left: 19px;
  }

  &--pic3::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #68b738;
    top: 0;
    left: 0;
  }

  &--pic4::after {
    content: "";
    background-image: url("/../img/work-pic4.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 31px;
    width: 26px;
    top: 16px;
    left: 19px;
  }

  &--pic4::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #68b738;
    top: 0;
    left: 0;
  }
}


@media (min-width: $tablet-width) {
  .work {
    width: 708px;
  }

  .work__losung {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
    font-weight: 400;
  }

  .work__list {
    display: grid;
    // grid-template-columns: 230px 230px;
    grid-template-columns: 245px 245px;
    grid-template-rows: 280px 280px;
    // column-gap: 153px;
    row-gap: 37px;
    column-gap: 139px;

    padding-bottom: 47px;
    margin: 0;
    counter-reset: count 0;
  }

  .work__counters {
    &::after {
      width: 134px;
      font-size: 280px;
      color: #f2f2f2;
      z-index: -1;
      left: 118px;
      top: 125px;
      font-family: "Oswald", sans-serif;
      content: counter(count, decimal);
      position: absolute;
    }
  }

  .work__item {
    font-family: "Lato", sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #444444;
    padding: 0;
    margin: 0;
    padding-top: 151px;
    min-height: 230px;
    counter-increment: count 1;

    &--pic1::after {
      top: 67px;
      left: 27px;
    }

    &--pic1::before {
      height: 80px;
      width: 80px;
      top: 40px;
      left: 0;
    }

    &--pic2::after {
      top: 67px;
      left: 27px;
    }

    &--pic2::before {
      height: 80px;
      width: 80px;
      top: 40px;
      left: 0;
    }

    &--pic3::after {
      top: 67px;
      left: 27px;
    }

    &--pic3::before {
      height: 80px;
      width: 80px;
      top: 40px;
      left: 0;
    }

    &--pic4::after {
      top: 67px;
      left: 27px;
    }

    &--pic4::before {
      height: 80px;
      width: 80px;
      top: 40px;
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .work {
    width: 1220px;
  }

  .work__losung {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
    font-weight: 400;
  }

  .work__list {
    display: grid;
    // grid-template-columns: repeat(4, 230px);
    grid-template-columns: repeat(4, 245px);
    // column-gap: 95px;
    column-gap: 80px;
    grid-template-rows: 280px;
    // padding-bottom: 69px;
    padding-bottom: 39px;
  }

  .work__item {
    font-family: "Lato", sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #444444;
    margin: 0;
    padding-top: 151px;
  }
}
