.work__losung {
  font-size: 36px;
  line-height: 40px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.work__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.work__item {
  font-family: "Lato", sans-serif;
  line-height: 18px;
  color: #444444;
  margin-bottom: 22px;
}
